@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

svg {
    path#sun {
        animation: rotate 10s ease-in-out infinite;
    }
}

@keyframes fading {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fa-angle-down {
    animation: fading 5s ease-in infinite;
    transform-origin: center;
}