// This file contains all styles related to all the resets, variables, mixins, and any utility classes.


// VARIABLES
$color-theme: #3D3D3D; //kinda gray
$heading-theme: #FFD154; //yellow
$para-color: #ffffff; //white
$nav-height: 70px;
$md-screen: 823px;
$sm-screen: 500px;
$lg-screen: 1200px;

// MIXINS
@mixin para-text {
    color: $para-color;
    font-family: Titillium Web;
    font-style: normal;
}

@mixin main-text ($size) {
    @include heading-text($size);
    text-transform: uppercase;
}

@mixin heading-text ($size) {
    color: $heading-theme;
    font-family: Titillium Web;
    font-size: $size;
}

@mixin frame ($width, $height) {
    width: $width;
    height: $height;
}

@mixin myflex ($direction, $justifyContent) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
}

@mixin center-me {
    display: flex;
    justify-content: center;
}