// This file contains all the CSS that handles the layout(container, grid systems...)
@import './base';

#logo {
    grid-area: logo;
}

.nav-item {
    grid-area: navitem;
    list-style: none;
}


.container {
    display: grid;
    grid-template-areas: "logo navitem navitem navitem navitem navitem";
}

body {
    background-color: $color-theme;
    color: #ffffff;
}

h1 {
    color: $color-primary;
}