// This file contains all the CSS that handles the layout(container, grid systems...)
@import './base';
@import './components';

body {
    background-color: $color-theme;
    @include para-text;
}

//homepage
@media screen and (min-width: $lg-screen) {
    section#homepage {
        display: flex;
        margin: 50px 20px;

        article {
            @include myflex(column, center);
            padding-right: 20px;
        }

        h2 {
            @include main-text (60px);
            margin: 0;
        }

        p {
            font-size: 20px;
        }

        svg {
            @include frame(700px, auto);
        }
    }
}

@media screen and (max-width: $lg-screen) {
    section#homepage {

        aside {
            text-align: center;
            svg {
                @include frame (500px, auto);
            }
        }
        
        h2 {
            @include main-text (40px);
        }

        p {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: $md-screen) {
    section#homepage {

        h2 {
            @include main-text (33px);
        }
        
        aside {
            text-align: center;
            svg {
                @include frame (100%, auto)
            }
        }   
    }
}



//Services
@media screen and (min-width: $md-screen) {
    section#services {
        display: flex;
    }
}

section#services {
    margin: 0 auto;
}


//TechStack
section#tech {
    @include center-me;

    ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;

        i {
            font-size: 60px;
            width: 100px;
            margin: 30px auto;
        }
    }
}

//Blogs
@media screen and (min-width: $md-screen) {
    section#blogs {
        article {
            display: flex;

            aside {
                text-align: start;
            }
        }
    }
}

section#blogs {
    text-align: center;
}


//Contact form
form {
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;

    input,
    textarea {
        margin-top: 10px;
    }
}