@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
.navbar {
  display: flex;
  flex-basis: 100px;
  background-color: #FFD154;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 10px 0 0 20px;
  color: #3D3D3D;
  text-transform: uppercase;
  flex-grow: 1;
}

nav ul {
  list-style: none;
  flex-wrap: wrap;
}
nav ul li.nav-item {
  font-size: large;
}
nav ul li.nav-item a {
  line-height: 70px;
  display: block;
  padding: 0 20px 0 20px;
  color: #3D3D3D;
}
nav ul li.nav-item a:hover {
  text-decoration-style: wavy;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.center {
  display: flex;
  justify-content: center;
}
.center--header {
  color: #FFD154;
  font-family: Titillium Web;
  font-size: 33px;
}

.hightlight {
  border-bottom: 1px #FFD154 solid;
  width: 300px;
  margin: 30px auto;
}

.card {
  background-color: #ffffff;
  width: 30%;
  padding: 10px;
  margin: 10px;
  opacity: 0.8;
  color: #3D3D3D;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 400px) {
  .card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
button {
  background-color: #FFD154;
  border-radius: 50px;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

img {
  width: 400px;
  height: auto;
}

@media screen and (max-width: 500px) {
  img,
svg {
    width: 100vw;
    margin: 0;
  }
}
footer {
  color: #FFD154;
  font-size: 25px;
  text-align: center;
}
footer ul {
  list-style: none;
}

@media screen and (min-width: 800px) {
  footer {
    font-size: 30px;
  }
  footer ul {
    display: flex;
  }
  footer ul li {
    flex-basis: 80px;
    flex: 0 0 auto;
  }
  footer ul li:nth-child(1) {
    margin-right: auto;
    margin-left: 100px;
  }
  footer ul li a {
    margin: 0 30px;
  }
}
.navbar {
  display: flex;
  flex-basis: 100px;
  background-color: #FFD154;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 10px 0 0 20px;
  color: #3D3D3D;
  text-transform: uppercase;
  flex-grow: 1;
}

nav ul {
  list-style: none;
  flex-wrap: wrap;
}
nav ul li.nav-item {
  font-size: large;
}
nav ul li.nav-item a {
  line-height: 70px;
  display: block;
  padding: 0 20px 0 20px;
  color: #3D3D3D;
}
nav ul li.nav-item a:hover {
  text-decoration-style: wavy;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.center {
  display: flex;
  justify-content: center;
}
.center--header {
  color: #FFD154;
  font-family: Titillium Web;
  font-size: 33px;
}

.hightlight {
  border-bottom: 1px #FFD154 solid;
  width: 300px;
  margin: 30px auto;
}

.card {
  background-color: #ffffff;
  width: 30%;
  padding: 10px;
  margin: 10px;
  opacity: 0.8;
  color: #3D3D3D;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 400px) {
  .card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
button {
  background-color: #FFD154;
  border-radius: 50px;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

img {
  width: 400px;
  height: auto;
}

@media screen and (max-width: 500px) {
  img,
svg {
    width: 100vw;
    margin: 0;
  }
}
footer {
  color: #FFD154;
  font-size: 25px;
  text-align: center;
}
footer ul {
  list-style: none;
}

@media screen and (min-width: 800px) {
  footer {
    font-size: 30px;
  }
  footer ul {
    display: flex;
  }
  footer ul li {
    flex-basis: 80px;
    flex: 0 0 auto;
  }
  footer ul li:nth-child(1) {
    margin-right: auto;
    margin-left: 100px;
  }
  footer ul li a {
    margin: 0 30px;
  }
}
body {
  background-color: #3D3D3D;
  color: #ffffff;
  font-family: Titillium Web;
  font-style: normal;
}

@media screen and (min-width: 800px) {
  section#homepage {
    display: flex;
    margin: 50px 20px;
  }
  section#homepage article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
  }
  section#homepage h2 {
    color: #FFD154;
    font-family: Titillium Web;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;
  }
  section#homepage p {
    font-size: 20px;
  }
  section#homepage svg {
    width: 700px;
    height: auto;
  }
}
section#homepage h2 {
  color: #FFD154;
  font-family: Titillium Web;
  font-size: 40px;
}
section#homepage p {
  font-size: 18px;
}

section#services {
  display: flex;
}

section#tech {
  display: flex;
  justify-content: center;
}
section#tech i {
  font-size: 60px;
  width: 100px;
  margin: 30px auto;
}

@media screen and (min-width: 800px) {
  section#blogs article {
    display: flex;
  }
  section#blogs article aside {
    text-align: start;
  }
}
section#blogs {
  text-align: center;
}

form {
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
form input,
form textarea {
  margin-top: 10px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
svg path#sun {
  animation: rotate 10s ease-in-out infinite;
}

@keyframes fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.fa-angle-down {
  animation: fading 1s ease-in infinite;
}

/*# sourceMappingURL=style.css.map */
